# Practical 4

In this face-to-face class, you will be asked to solve one exercise about data manipulation, exploration, and cleaning, using Pandas.

We will explore the famous Titanic dataset listing all passengers with various properties.

Good work!!



#  Titanic Survival 

<br/>
<hr>


### Follow the steps

<br/>

### 0. Setup

### 1. Dataset

### 2. Exploration

### 3. Clean




<br/>

<hr>

# 0. Setup

<br>

### Libraries:

- pandas (https://pandas.pydata.org/docs/getting_started/index.html#getting-started)


- numpy (https://numpy.org/doc/1.15/user/quickstart.html)

In [29]:
import pandas as pd
import numpy as np

### Installation
<br>
(Replace name_of_library by the library that you want to install.)

If the import code does not show an error such as: "`ImportError: No module named name_of_library`" the library is installed.

<br>

**For Anaconda** 

Probably your environment already has this library. 

To install it go to: Anaconda Navigator -> Environments -> select the dropdown input to "all" -> search for "name_of_library" -> check and apply on "name_of_library". 

<br>

**For Google Colab** 

Execute this line of code to install it `!pip install name_of_library`.

<br>

**For Python environment** 

Execute on the terminal: `pip install name_of_library`, note that if your environment has the python 2 and 3 versions you need to execute `pip3 install name_of_library`. You can check the installed libraries by executing on terminal `pip freeze`, again, replace `pip` by `pip3` if you have python 2 and 3.

<br>
<hr>

# 1. Dataset

We will use the Boston  Titanic Dataset, data covers passengers only, not the crew.


The dataset is the `"titanic_dataset.csv"` file. A `.csv` (comma-separated values) can be seen as a table with the first line being the header and the following rows the content, the columns are separated usually by comma, but can also be separated by semicolon.

<br>

### Data Dictionary


- `Pclass` - ticket class (1 = 1st, 2 = 2nd, 3 = 3rd)


- `Survived` - survival (0 = No, 1=Yes)


- `Name` - name	


- `Sex` - sex	


- `Age`	- age in years, can be aproximated	


- `Sibsp` - number of siblings / spouses aboard the Titanic	


- `Parch` - number of parents / children aboard the Titanic	


- `Ticket` - ticket number	


- `Fare` - passenger fare (british pound)


- `Cabin` - cabin number (A = top deck, G = bottom deck)


- `Embarked` - port of embarkation (C = Cherbourg, Q = Queenstown, S = Southampton)



## 1.1 Read into a `dataframe`

We will use the `pandas` library to read our dataset, let's read into a `dataframe`. A `dataframe` can be seen as a table, but with useful methods to interact with our data (https://pandas.pydata.org/docs/getting_started/intro_tutorials/01_table_oriented.html#min-tut-01-tableoriented).

In [1]:
# your code here

## 1.2 What is the size of our Dataframe?

In [2]:
# your code here

# 2. Exploration

## 2.1 Display the first and last 5 rows

In [3]:
# your code here

In [4]:
# your code here

## 2.2 How many passengers do we have?

In [34]:
# your code here

## 2.3 What type of features do we have?

In [35]:
# your code here

## 2.4 Database description

In [36]:
# your code here

## 2.5 Describe the features Age and Sex

In [37]:
# your code here 
# numeric description

In [38]:
# your code here 
# categorical description

## 2.6 How many persons survived?

In [39]:
# your code here

## 2.7 What is the survival percentage?

In [40]:
# your code here

## 2.8 Build a `Survivors_df ` dataframe with three columns: Survived, Sex and Age. Sort the new dataframe by Age

In [5]:
# your code here

## 2.9 Children
 We want to differentiate between a child and an adult and see how survival rates are affected.

Use boolean indexing to create a new dataframe called `Children_df` containing only rows of child passengers (less than 18 years old)

In [13]:
# your code here

### How many children were there in the Titanic?

In [14]:
# your code here

### How many children survived?

In [15]:
# your code here

## 2.10 What is the mean, max and min "Fare"?

In [16]:
# your code here


## 2.11 Fare into intervals

Add the features `Fare<=32`, `Fare]32-500[`, `Fare>=500`, where boolean results from `Fare`should appear

In [27]:
# your code here

## 2.12 Count the values of the column "Pclass"

In [17]:
# your code here

### Now, count with normalization

In [18]:
# your code here

## 2.13 Convert categorical features "male" and "female" to numeric

In [19]:
# your code here

## 2.14 How many relatives

Create a new feature called `relatives` that represents the number of relatives.

In [20]:
# your code here

## 2.15 It was alone?

Create a new feature called `alone` that represents if a passenger was alone.

In [21]:
# your code here

<br>
<hr>

# 3. Clean

Clean the dataset before save it

## 3.1 Missing values

### How many missing values exist in the dataframe

In [22]:
# your code here

### Find the percentage of missing values

In [23]:
# your code here

### Since that in column Age there is a big percentage of null values, how these null values appear?

In [24]:
# your code here


## 3.2 Drop columns with significative null values

In [25]:
# your code here

## 3.3 Checkpoint

Save the cleaned dataset.

In [26]:
# your code here